<h1>My tasks</h1>

  <ul>
    <% @tasks.each do |task| %>
      <li>
        <% if task.completed == true %>
           <span>[ x ]</span>
        <% else %>
           <span>[&nbsp &nbsp ]</span>
        <% end %>
        <%= link_to task.title, task_path(task.id) %>
      </li>
    <% end %>
  </ul>

<br>
<%= link_to 'Add new Task', tasks_new_path %>
