
<h4><%= @task.details %></h4>

<p><%= link_to 'Back', tasks_path %></p>

<p><%= link_to 'EditâœðŸ½', task_edit_path %></p>

<%= link_to "Delete",
  task_path(@task),
  data:{turbo_method: :delete, turbo_confirm: :'Are you sure?'}
%>
